# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates


# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

TEST
BUSNET
BUSNET64
BUSCUBE
BUSCUBE64
BNVEBOLL
BEVEBOLL
BDVEBOLL
BEMGDOCU
BDMGDOCU
BDMGSCHE
BEMGSCHE
BNMGSCHE
BN__ETIM
BNDBDIBA
BEDBDIBA
BDDBDIBA
BNLBMENU
BELBMENU
BDLBMENU
BNVEBOLL
BEVEBOLL
BDVEBOLL
BNMGANLO
BEMGANLO
BDMGANLO
BNMGDOCU
BEMGDOCU
BDMGDOCU
BNORGSOL
BEORGSOL
BDORGSOL
BNDBNMRP
BEDBNMRP
BDDBNMRP
BNORGNOR
BEORGNOR
BDORGNOR
BNORGSOR
BNMGDOCU
BNDBSTDB
BNDBTRDB
/TEST_old
/TEST2
